<section class="text-center">
  <h2 class="mb-4">Sobre mí</h2>
  <p class="lead">Soy Raúl, estudiante de Ingeniería del Software en la URJC, actualmente en Erasmus en Alemania 🇩🇪. Me encanta crear cosas útiles, visualmente atractivas y bien estructuradas. Trabajo con Node.js, Express, JavaScript, Bootstrap, Mustache y más.</p>
</section>
