<section class="text-center">
  <h2 class="mb-4">¡Hablemos!</h2>
  <p class="lead">Puedes escribirme por correo o seguirme en mis redes sociales:</p>
  <ul class="list-unstyled">
    <li><i class="fas fa-envelope"></i> <a href="mailto:r.tejada.2023@alumnos.urjc.es">r.tejada.2023@alumnos.urjc.es</a></li>
    <li><i class="fab fa-github"></i> <a href="https://github.com/raultejada24" target="_blank">@raultejada24</a></li>
    <li><i class="fab fa-linkedin"></i> <a href="https://linkedin.com/in/raultejada" target="_blank">Raúl Tejada</a></li>
  </ul>
</section>
